<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hero-content">
                    <h1>Your gateway to
                        world-class
                        photography site</h1>
                    <p>A Literature Review on Impact of COVID-19 Pandemic on Teaching and Learning</p>
                    <a href="#" class="btn btn-primary">Portfolio</a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="hero-img">
                    <img src="./images/hero/1.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>